/* ---------------- Main content container ---------------- */

.right-main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-content {
  padding-left: 0px;
  text-align: center;
}

.right-content-hero {
  display: flex;
  padding-top: 10rem;
  height: max-content;
  position: relative;
}

.main-text-container {
  display: block;
  flex: 1 1 0%;
}

.dev-text {
  display: inline-block;
  font-size: 10vw;
  line-height: 1;
  font-weight: 700;
  font-family: "revamped";
}

.dev-text h1 {
  font-size: 9vw;
}

.dev-text div::selection {
  color: var(--color-neutral-100);
  background-color: var(--color-accent-500);
}

.dev-text h1::selection {
  color: var(--color-neutral-100);
  background-color: var(--color-accent-500);
}

/* ----------------- Profession text ------------------- */
.profession-container {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

.profession-bar-wrapper {
  flex: 1 1 0%;
  height: 3px;
}

.profession-bar {
  width: 0%;
  height: 3px;
  background-color: var(--color-accent-500);
  animation: progress-fill 800ms ease-out 5400ms 1 forwards;
}

@keyframes progress-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.profession-text {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 5vw;
  color: var(--color-accent-500);
  font-weight: 900;
  font-family: monospace;
  opacity: 0;
  animation: show 300ms ease-in 6400ms 1 forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll-down-main {
  margin-top: 7rem;
  text-align: center;
  margin-bottom: 4rem;
}

.scroll-mouse {
  position: relative;
  display: inline-flex;
  width: 2rem;
  height: 3.5rem;
  border: 2px solid var(--color-neutral-900);
  border-radius: 2.25rem;
}

.mouse-scroll {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--color-accent-500);
  border-radius: 50%;
  animation-fill-mode: forwards;
  animation-name: mousescroll;
  animation-duration: 3s;
  animation-timing-function: normal;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-delay: 0.8s;
}

@keyframes mousescroll {
  0% {
    top: 0.5rem;
    left: 0.5rem;
    opacity: 1;
  }
  80% {
    top: 2rem;
    opacity: 0;
  }
  100% {
    top: 0.5rem;
    opacity: 0;
  }
}

/* ----------------------- Greeting ------------------------ */
.greeting {
  color: var(--color-accent-500);
  font-family: monospace;
}

@media only screen and (min-width: 480px) {
  .right-content {
    padding-left: 120px;
    text-align: initial;
  }
  .dev-text {
    font-size: 7vw;
  }
  .dev-text h1 {
    font-size: 7vw;
  }
  .profession-text {
    font-size: 3.5vw;
  }
}

@media only screen and (min-width: 800px) {
  .right-content {
    padding-left: 120px;
  }
  .profession-text {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 1024px) {
  .right-content {
    padding-left: 160px;
  }
  .profession-text {
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 1200px) {
  .right-content {
    padding-left: 180px;
  }
}

@media only screen and (min-width: 1500px) {
  .right-content {
    padding-left: 230px;
  }
}
